@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

// Brand Color
$primary: #C3E3D3;

* ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
// Navigation

.main-nav {
  z-index:10;
  background: #fff !important;
  border-bottom:1px solid #efefef;
  padding:10px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.fb-logout-button {
  color:#000 !important;
  background:$primary;
  padding:10px;
}

.navbar-burger {
  color:#000;
}
.navbar-end a {
    color: #000 !important;
}

.profilePic {
  border-radius: 50%;
  margin-right:5px;
}
// Home
.homeLanding {
  min-height: 100vh;
  width:100%;
  max-width:100%;
  padding: 0px;
  margin: 0px;
  background: $primary;
}

main {
  margin-top: 2% !important;
  padding-bottom: 0px !important;
}

.top-padding {
  padding-top: 5%;
}

main.search aside {
  padding:30px;
}

.search-menu {
  transition: all linear 1000ms;
  position: relative;
  top: 0px;
  z-index: 2;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding:0px !important;
  margin:0px !important;
}

.search-menu.closed{
  transition: all linear 1000ms;
  left:-25%;
}

.search-menu-container {
  transition: all linear 1000ms;
  overflow-y: scroll;
  height: 100vh;
  padding: 20% 20% 0px 20%;
  margin: 0px !important;
}
.search-menu .search-menu-container form {
  transition: all linear 2000ms;
  opacity: 1;
}

.search-menu.closed .search-menu-container {
  transition: all linear 1000ms;
}

.search-menu.closed .search-menu-container form {
  transition: all linear 2000ms;
  opacity: 0;
}

.search-menu-container #menu-toggle {
  transition: all linear 1000ms;
  background: $primary;
  height:50px;
  width:50px;
  position: absolute;
  right: -18%;
  top: 10%;
  z-index: 2;
  border-radius: 50%;
  border: 1px solid darken($primary, 20%);
  color: darken($primary, 20%);

  &:focus{
    outline: none;
  }
}

.search-menu.closed .search-menu-container #menu-toggle {
  transition: all linear 1000ms;
  border: 1px solid darken($primary, 20%);
  transform: rotate(-360deg);
}

.search-menu .submit {
  margin-top: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
  -moz-box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
  box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
}

.searchHeading {
  font-weight: bolder;
  padding-top:25px;
  padding-bottom:10px;
  display:block;
}

input:checked + .slider {
  background-color: $primary;
  border: 1px solid #afccbd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  display:block;
}

.map {
  background: #C3E3D3;
  height:100vh;
}

.tabs li.is-active {
  border-bottom:3px solid black;
}
.tabs li.is-active a {
  color:#000;
}

.map-container {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  width: 100% !important;
  height: 100vh;
  padding:0px !important;
  margin:0px !important;
}

.App {
  height:100vh;
  width:100%;
}

.circle {
  margin-left:25px;
  display:block;
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;

  img {
    height:100%;
  }
}

// Listings

.listing-single {
  height: 500px;
  width: 650px
}
.listing-header {

}

.listing-title {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 300;
  padding: 10px 0px 10px 0px;
  display: block;
}
.listing-image-container {
  position:relative;
  width:600px;
  margin-bottom: 40px;
}
.listing-image-container img {
  vertical-align: middle;
  max-width: 100% !important;
  margin:0px !important;
  padding:0px !important;
}
.listing-image-filter {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: -moz-linear-gradient(45deg, rgba(195,227,211,1) 0%, rgba(195,227,211,0.13) 52%, rgba(195,227,211,0) 60%, rgba(195,227,211,0) 73%, rgba(195,227,211,0) 89%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(195,227,211,1) 0%,rgba(195,227,211,0.13) 52%,rgba(195,227,211,0) 60%,rgba(195,227,211,0) 73%,rgba(195,227,211,0) 89%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(195,227,211,1) 0%,rgba(195,227,211,0.13) 52%,rgba(195,227,211,0) 60%,rgba(195,227,211,0) 73%,rgba(195,227,211,0) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.listing-contact {
  background: #C3E3D3;
  margin-top: -15px;
  position: absolute;
  bottom: -20px;
  right: 105px;
  font-weight: bold;
  padding: 20px;
  font-size: 1.25em;
  color: #4a4a4a;
  border-bottom: 4px solid #7dc3a0;
}

.listing-contact:hover {
  background: darken($primary, 20%);
}

.listing-price {
  background: $primary;
  margin-top: -15px;
  position: absolute;
  bottom: -20px;
  right: -50px;
  font-weight: bold;
  padding: 20px;
  font-size: 1.25em;
  border-bottom: 4px solid darken($primary, 20%);
  border-right: 4px solid #7dc3a0;
}


// Profile

.profileCircle {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid #ccc;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

.profileCircle img {
  height:100%;
  width:100%;
}