@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

// Brand Color
$primary: #C3E3D3;


// Navigation

.main-nav {
  z-index:10;
  background: #fff !important;
  border-bottom:1px solid #efefef;
  padding:10px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.navbar-burger {
  color:#000;
}
.navbar-end a {
    color: #000 !important;
}

main {
  margin-top: 155px !important;
  padding-bottom: 55px;
}

main.search aside {
  padding:30px;
}

.map {
  background: #C3E3D3;
  height:100vh;
}

.tabs li.is-active {
  border-bottom:3px solid black;
}
.tabs li.is-active a {
  color:#000;
}

.circle {
  margin-left:25px;
  display:block;
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;

  img {
    height:100%;
  }
}