@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

// Typography

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive;
}

// Brand Color
$primary: #C3E3D3;


// Global

* ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

video#bgvid {
  max-width: 200%;
}

// Navigation

.main-nav {
  z-index:10;
  background: #fff !important;
  border-bottom:1px solid #efefef;
  padding:10px;
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.fb-logout-button {
  color:#000 !important;
  padding:10px;
}

.fb-logout-button:hover {
  background: $primary  ;
}
.navbar-burger {
  color:#000;
}
.navbar-end a {
    color: #000 !important;
}
.navbar-item svg {
  margin-right:10px;
}
.navbar-item:hover svg {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: jackInTheBox;
  animation-name: jackInTheBox;
}
.profilePic {
  border-radius: 50%;
  margin-right:10px;
}

.fb-login-button.fb_iframe_widget {
    margin-top: 5px;
}

// Home

.bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}
.homeLanding {
  min-height: 100vh;
  width:100%;
  max-width:100%;
  padding: 0px;
  margin: 0px;
  position:relative;
  background: $primary;
}

.videoOverlay {
  background: linear-gradient(270deg, #c3e3d3de, #ffffff00);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  z-index: 999;
  position: absolute;
  top: 42%;
  left: 38%;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 8px;

}
.subtitle {
  position: absolute;
  top: 50%;
  left: 27%;
  right: -50%;
  color: #363636;
  width: 45%;
  z-index:998;
}

main {
  margin-top: 2% !important;
  padding-bottom: 0px !important;
}

.top-padding {
  padding-top: 5%;
}

main.search aside {
  padding:30px;
}

.search-menu {
  transition: all linear 1000ms;
  position: relative;
  top: 0px;
  z-index: 2;
  background: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  padding:0px !important;
  margin:0px !important;
}

.search-menu.closed{
  transition: all linear 1000ms;
  left:-25%;
}

.search-menu-container {
  transition: all linear 1000ms;
  overflow-y: scroll;
  height: 100vh;
  padding: 20% 20% 0px 20%;
  margin: 0px !important;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243, 243, 243, 0.22) 50%,rgba(249, 249, 249, 1) 51%,rgba(255, 255, 255, 0.08) 100%);
  background: -webkit-linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243, 243, 243, 0.22) 50%,rgba(249, 249, 249, 1) 51%,rgba(255, 255, 255, 0.08) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243, 243, 243, 0.22) 50%,rgba(249, 249, 249, 1) 51%,rgba(255, 255, 255, 0.08) 100%);
}
.search-menu .search-menu-container form {
  transition: all linear 2000ms;
  opacity: 1;
}

.search-menu.closed .search-menu-container {
  transition: all linear 1000ms;
}

.search-menu.closed .search-menu-container form {
  transition: all linear 2000ms;
  opacity: 0;
}

.search-menu-container #menu-toggle {
  transition: all linear 1000ms;
  background: $primary;
  height:50px;
  width:50px;
  position: absolute;
  right: -18%;
  top: 10%;
  z-index: 2;
  border-radius: 50%;
  border: 1px solid darken($primary, 20%);
  color: darken($primary, 20%);

  &:focus{
    outline: none;
  }

}

.search-menu.closed .search-menu-container #menu-toggle {
  transition: all linear 1000ms;
  border: 1px solid darken($primary, 20%);
  transform: rotate(-360deg);
}

.search-menu .submit {
  margin-top: 25px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border: 1px solid #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
  -moz-box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
  box-shadow: -4px 1px 5px -2px rgba(160,160,160,1);
}

.searchHeading {
  font-weight: bolder;
  padding-top:50px;
  padding-bottom:25px;
  display:block;
}

input[value="true"] + .slider {
  background-color: $primary;
  border: 1px solid #afccbd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input[value="true"] + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

label {
  display:block;
}

.map {
  background: #C3E3D3;
  height:100vh;
}

.tabs li.is-active {
  border-bottom:3px solid black;
}
.tabs li.is-active a {
  color:#000;
}

.map-container {
  position:absolute;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  width: 100% !important;
  height: 100vh;
  padding:0px !important;
  margin:0px !important;
}

.App {
  height:100vh;
  width:100%;
}

.circle {
  margin-left:25px;
  display:block;
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;

  img {
    height:100%;
  }
}

// Listings

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.65);
}
.popup_inner {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 5%;
  margin: auto;
  background: white;
  overflow-x: scroll;
}
button.close.button {
  background: #c3e3d3;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #b3d2c2;
  margin-top: 25px;
  clear: both;
}

.listing-single {
  height: 500px;
  width: 650px
}

.user-page.listing-single {
  height: auto;
}

.listing-title {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: 300;
  max-width: 60%;
  padding: 10px 0px 10px 0px;
  display: block;
}

.user-page .listing-title {
  padding: 20px 0px 10px 0px;
  margin-left:20px;
  max-width:70%;
}
.listing-image-container {
  position:relative;
  width:640px;
  margin-bottom: 25px;
}
.listing-image {
  height: 350px;
  background-size: cover;
  background-position: center center;
}

span.available_date {
  font-weight: bold;
  margin-right: 10px;
  letter-spacing: 1px;
}

.listing-single p {
  margin-top:10px;
}

.user-page .listing-image-container {
  margin-bottom: 0px;
}

.listing-image-container img {
  vertical-align: middle;
  max-width: 100% !important;
  width:100%;
  margin:0px !important;
  padding:0px !important;
}
.listing-image-filter {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: -moz-linear-gradient(45deg, rgba(195,227,211,1) 0%, rgba(195,227,211,0.13) 52%, rgba(195,227,211,0) 60%, rgba(195,227,211,0) 73%, rgba(195,227,211,0) 89%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(195,227,211,1) 0%,rgba(195,227,211,0.13) 52%,rgba(195,227,211,0) 60%,rgba(195,227,211,0) 73%,rgba(195,227,211,0) 89%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(195,227,211,1) 0%,rgba(195,227,211,0.13) 52%,rgba(195,227,211,0) 60%,rgba(195,227,211,0) 73%,rgba(195,227,211,0) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.listing-contact {
  background: #C3E3D3;
  margin-top: -15px;
  position: absolute;
  top: -20px;
  right: 155px;
  font-weight: bold;
  padding: 20px;
  font-size: 1.25em;
  color: #4a4a4a;
  border-bottom: 4px solid #7dc3a0;
}

.listing-contact:hover {
  background: darken($primary, 20%);
}

.listing-price {
  background: $primary;
  margin-top: -15px;
  position: absolute;
  top: -20px;
  right: -10px;
  font-weight: bold;
  padding: 20px;
  font-size: 1.25em;
  border-bottom: 4px solid darken($primary, 20%);
  border-right: 4px solid #7dc3a0;
}

.listing-form {
  margin-bottom:5%;
}
span.feature-heading {
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 10px;
}
span.feature {
  padding: 10px;
  font-size: 1.5em;
}

.polygon {
  margin-top:50px;
}
// Profile
.tabs ul {
  border-bottom-color: #ffffff;
}
.tabs li {
  display: block;
  margin-right: 15px;
}
.tabs a {
  border-bottom: 2px solid #efefef;
}
.tabs a:hover {
  border-bottom: 2px solid $primary;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.profileCircle {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid #ccc;
  overflow:hidden;
  margin: 50px auto 50px auto;
}

.profileCircle img {
  height:100%;
  width:100%;
}

.control {
  margin-top:10px;
  margin-top:20px;
}
.input.is-success, .textarea.is-success {
    border-color: $primary;
}
.sideScroll {
  margin-top:25px;
  overflow-y:scroll;
}
.sideScroll .column:first-child {
  margin-left:2%;
}
.sideScroll .column:last-child {
  margin-right:4%;
}
.sideScroll .column {
  margin: 2%;
}

.preview-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 650px;
  min-height: 450px;
  background: #f7f7f7;
  padding:0px;
  position:relative;

  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 25%;
    font-size: 2em;
    color: #ccc;
  }

  img {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:2;
  }
}
.submit-column {
  margin-top:25px;
  margin-bottom:25px;
}
.is-centered {
  text-align:center;
}

p.card-footer-item span, p.card-footer-item button {
    width: 100%;
}
.button.is-danger {
  background-color: #d8526d;
  border-color: transparent;
  color: #fff;
}
.button.is-primary {
  background-color: $primary;
  border-color: transparent;
  color: #fff;
}
.button.is-primary:hover {
  background-color: darken($primary, 10%);
  border-color: transparent;
  color: #fff;
}
.hero.is-primary a.navbar-item:hover,
.hero.is-primary a.navbar-item.is-active,
.hero.is-primary .navbar-link:hover,
.hero.is-primary .navbar-link.is-active {
  background-color:$primary;
}


// Animations

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}